node_modules
# Keep environment variables out of version control
.env
.env.*
!.env.example

/dist
/coverage
/generated/prisma
.pgdata/
.pgsocket/
.DS_Store

.agents/

/uploads/*
!/uploads/.gitkeep


/uploads/
